@mixin flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    @include flexbox();
    background-color: #EFEEF3;
    color: #000000;
    font-family: "Kodchasan", system-ui;
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    z-index: 10;

    @media (max-width:800px){
        flex-direction: column;
        justify-content: center;
    }

    nav{
        margin-right: 1%;
    }

    ul{
        @include flexbox();
        list-style: none;
        width: 50vw;

        @media (max-width:800px){
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 60vw;
            font-size: 1rem;
        }
    }

    li{
        @media (max-width:800px){
            margin-top: 2%;
        }
    }

    img{
        width: 7%;
        margin: 1% 1%;

        @media (max-width:800px){
            width: 30%;
            margin-bottom: 3%;
        }
    }
}

.bg{
    position: relative;
    z-index: 1;
}

.meninas{
    width: 100%;
    position: relative;
    top: -85px;

    @media (max-width:800px){
        display: none;
    }
}

body{
    background-color: #EFEEF3;
}

.primeiraSessao{
    @include flexbox();
    font-family: "Kodchasan", system-ui;
    margin: 0% 15%;

    @media (max-width:800px){
        flex-direction: column;
        justify-content: center;
    }

    div{
        @include flexbox();
        flex-direction: column;
        align-items: center;
        width: 30vw;
    }

    h1{
        font-size: 2rem;
        margin-bottom: 1%;
        font-weight: 300;

        @media (max-width:800px){
            align-items: center;
            width: 60vw;
            text-align: center;
            margin-top: 10%;
            font-size: 1.4rem;
        }
    }

    p{
        width: 30vw;
        font-size: 1.3rem;
        font-weight: 400;

        @media (max-width:800px){
            margin-top: 10%;
            text-align: center;
            width: 60vw;
            font-size: 1rem;
        }
    }

    img{
        width: 40%;

        @media (max-width:800px){
            width: 80%;
            margin-top: 2%;
        }
    }
}

.segundaSessao{
    @include flexbox();
    font-family: "Kodchasan", system-ui;
    font-weight: 400;
    margin: 2% 10%;

    @media (max-width:800px){
        flex-direction: column;
    }

    div{
        @include flexbox();
        width: 40vw;

        @media (max-width:800px){
            margin-top: 10%;
            flex-wrap: wrap;
            align-items: center;
        }
    }


    h2{
        font-weight: 300;
        margin-left: 6.1%;

        @media (max-width:800px){
            margin-top: 5%;
            text-align: center;
            font-size: 1.2rem            
        }
    }
}